/liblog-unrotate-perl.postinst.debhelper
/liblog-unrotate-perl.postinst.debhelper
/files
/liblog-unrotate-perl
/liblog-unrotate-perl.substvars
/liblog-unrotate-perl.postrm.debhelper
/tmp
/liblog-unrotate-perl
/liblog-unrotate-perl.prerm.debhelper
/liblog-unrotate-perl.prerm.debhelper
/liblog-unrotate-perl.postrm.debhelper
/liblog-unrotate-perl.substvars
/stamp-makefile-build
/stamp-makefile-check
