Source: liblog-unrotate-perl
Section: perl
Priority: optional
Maintainer: Vyacheslav Matjukhin (No comments) <mmcleric@yandex-team.ru>
Build-Depends: debhelper (>= 5), perl (>= 5.8), libtest-exception-perl, libtest-pod-coverage-perl, libtest-pod-perl
Standards-Version: 3.8.0

Package: liblog-unrotate-perl
Section: perl
Priority: optional
Architecture: all
Depends: perl (>= 5.8)
Replaces: libyandex-unrotate-perl (< 3.0.0)
Description: Rotating logs reader
 The perl module that allows incremental reading of a log file correctly
 handling logrotates.
